body {
  margin: 5%;
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  overflow-x: hidden;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
  transition: .25s;
  display: inline-block;
  height: 2vh;
}
a:hover {
  /* color: gray; */
}
a::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: white;
  transition: .25s;
  float: left;
}
a:hover::after {
  width: 0%;
  background: gray;
  float: right;
}

.navigation-bar {
  position: fixed;
  top: 55vh;
  right: 5vw;
  transform: rotate(90deg);
  transform-origin: right;
}
.navigation-bar a {
  margin: 5px;
}
.contact {

}
.intro {
  font-weight: bold;

}
.content {
  font-size: 7.2vh;
}
.horizontal_scroll {
  white-space: nowrap;
}
.slide {
  display: inline-block;
  text-align: center;
  margin: 5% auto;

}
.slide.two {
  /* text-align: left; */
}
.nature {
}
.image_one {
  width: 60%;
}
